@import "tailwindcss";

:root {
  --background: #60aaff;
  --foreground: #171717;
  --component-bg: #ffffff;
  --text-color: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body.dark {
  --background:#110d47;
  --foreground:#171717;
  --component-bg: #171717;
  --text-color: #ededed;
  --bg-color: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.component:hover{
  background-color: #c4c4c4;
  transition: background-color 0.2s;
}

.component {
  background-color: var(--component-bg);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

h1 {
  color: var(--text-color);
  transition: color 0.5s;
}